<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489119533563-1g0lphumtjki5for7vg5r4r014gl4vim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489119533563-1g0lphumtjki5for7vg5r4r014gl4vim</string>
	<key>API_KEY</key>
	<string>AIzaSyAVRHHhiuQdLk17s0uHRJI-2oMwFty3kOs</string>
	<key>GCM_SENDER_ID</key>
	<string>489119533563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstapp</string>
	<key>PROJECT_ID</key>
	<string>fir-7c87b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-7c87b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489119533563:ios:49a6658d7eecc6a898635e</string>
</dict>
</plist>